.sidebar
{
	margin-top: 20px;
}
html, body {
  height: 100%;
}
.roboto{
	font-family: 'Roboto', sans-serif;
}
.arvo{
	font-family: 'Arvo', serif;
}
.texto{
/*	font-family: 'Arvo', serif;
*/	font-family:Verdana, Geneva, sans-serif;
	font-size: 10;
	color:#666;
	
}